@model Students.Models.Student
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Delete";
}
<!doctype html>
<html>
<head>
    <style>
        #data {
            border: 4px solid #3c8aab;
            color: white;
            background: #29A0B1;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            height: auto;
        }

        ol {
            list-style-type: none;
        }


        li {
            counter-increment: step-counter;
            margin: 15px;
            position: relative;
            margin-left: auto;
            padding-left: 35px;
        }

       li::before {
           content: counter(step-counter);
           margin-right: 5px;
           font-size: 80%;
           background-color: #6AACC3;
           color: white;
           font-weight: bold;
           padding: 3px 8px;
           border-radius: 3px;
           position: absolute;
           left: -5px;
       }

       li:first-child {
           font-size: 25px;
       }


       .agreeButton {
           width: 80px;
           height: 35px;
           border-radius: 10px;
           box-shadow: 2px 2px 7px #007731;
           margin: 2px;
           border: 2px solid;
           background-color: #2BEF6B;
           border-color: #2BEF6B;
           color: #007731;
       }

       .agreeButton:hover {
           background-color: #23D263;
           border: 2px solid #23D263;
       }

       .agreeButton {
           text-align: center;
           color: white;
           font-family: sans-serif;
           font-weight: 600;
           font-size: 16px;
       }

       #data > div {
           width: 300px;
           padding: 1px 10px 10px 10px;
       }

       #data > div > a + a {
           margin-left: 15px;
       }

       #data > div > form {
           width: 95px;
           margin: 0 auto;
       }
      
      

    </style>
</head>
<body>
    <div id="data">
        <ol>
            <li>@Localizer["Name"] - @Model.FirstName @Model.LastName @Model.Patronymic</li>
            <li>@Localizer["Age"] -  @Model.Age</li>
            <li>@Localizer["MothersName"] - @Model.Mother.FirstName @Model.Mother.LastName</li>
            <li>@Localizer["FathersName"] - @Model.Father.FirstName @Model.Father.LastName</li>
            <li>@Localizer["Address"] - @Model.Address</li>
        </ol>
        <div>
            <p>@Localizer["Warning"]</p>
            <form asp-controller="Student" asp-action="Delete">
                <input type="hidden" value="@Model.Id" />
                <input class="agreeButton" type=submit value="@Localizer["AgreeButton"]" />
            </form>
        </div>
    </div>
</body>
</html>